<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.stonehiy.lib" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application>
        <provider
            android:authorities="${applicationId}.KtxInstaller"
            android:name="io.github.stonehiy.lib.core.Ktx"
            android:exported="false"/>
    </application>

</manifest>
